.sidebar{
    flex: 3;
    margin: 50px ;
    padding-bottom: 10px;
    background: #efefef;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}


.sidebarList{
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    margin-bottom: 30px;

}

.sidebarListItem{
   display: inline-block;
   width: 50%;
   margin-top: 20px;
   cursor: pointer;
}







