.sidebar{
    flex: 3;
    margin: 50px ;
    padding-bottom: 300px;
    background: #efefef;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    
}


.sidebarList{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 1px;

}

.sidebarListItem{
   display: inline-block;
   width: 50%;
   margin-top: 40px;
   cursor: pointer;
   color:#572250;
}

.signOutBtn{
    margin-top: 170px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #572250;
    color: #efefef;
    border-radius: 10px;
    cursor: pointer;
    block-size: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
    border: none;

}

button:hover{
   background-color: #b7e5ff;
   color: #572250;
}









