.sidebar{
    flex: 3;
    margin: 50px ;
    padding-bottom: 500px;
    background: #efefef;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.sidebarList{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 1px;

}

.sidebarListItem{
   display: inline-block;
   width: 50%;
   margin-top: 40px;
   cursor: pointer;
   color:#572250;
}











